@tailwind base;
@tailwind components;
@tailwind utilities;


.image-height {
    height: 526px;
}

.frame-img {
    height: 564px;
}

.heading1 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 124.19%;
    letter-spacing: 4px;
    color: #000000;
}

.paragraph {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}